body{
    text-align: center;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: rgb(62, 96, 111);
    padding-bottom: 50px;
}

h1{
    text-align: center;
    font-family: "Hammersmith One", Arial, sans-serif;
    background-color: rgb(145, 170, 157);
    padding-top: 25px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    font-size: 32pt;
}

#forms{
    display:inline-block;
    text-align: left;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: rgb(209, 219, 189);
    
}

#list{
    display: inline-block;
    padding: 25px;
    text-align: left;
    background-color: rgb(252, 255, 189);
    
}

#cartList{
    display: inline-block;
    padding: 25px;
    text-align: left;
    background-color: white;
    
}

#descTitle{
    font-size: 45pt;
    background-color: white;
}

#movieInfo{
    font-size: 25pt;
    text-align: left;
    background-color: gray;
    padding: 15px;
}

#links{
    font-size: 35pt;
}